.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  color: white;
  font-weight: 600;
  max-width: 1200px;
  margin: 0 auto;
}

.header img {
  margin: 0 50px;
}

.balance {
  color: #333;
  margin: 0 50px;
  font-size: 18px;
}

.select-language {
  width: 50px;
  margin: 0 40px;
}

@media (max-width: 790px) {
  .select-language {
    margin: 0;
  }

  .balance {
    margin: 0;
  }

  .header img {
    margin: 0;
  }
}

@media (max-width: 650px) {
  .header img {
    width: 300px;
  }
}

@media (max-width: 505px) {
  .header img {
    width: 200px;
  }

  .balance {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .header {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .header img {
    width: 250px;
  }
}
